<article class="article">
    <h2 class="article__header">
        <%= post.title %>
    </h2>
    <section class="article__content">
        <%= post.text %>
    </section>
    <footer class="article__footer">
        <%= post.date %>
    </footer>
</article>