* {
  margin: 0;
  padding: 0;
}

.body {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: row;
}

.form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  padding: 16px;
}

.input {
  padding: 4px;
  border-radius: 4px;
  border: 1px solid black;
}

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  margin-top: 16px;
  background-color: white;
  border: 1px solid black;
  padding: 4px 0;
}

.article {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 8px;
  border-radius: 8px;
  padding: 16px;
}

.article:hover {
  transform: translateY(-4px);
  transform: translateX(4px);
  transition-duration: 0.2s;
}

.article__header {
  text-align: center;
}

.article__content {
  font-size: 18px;
}

.article__footer {
  font-size: 12px;
}

.posts-container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}
